[Unit]
Description=Rotate VPN stack logs
Documentation=man:logrotate(8) man:logrotate.conf(5)
RequiresMountsFor=/var/log

[Service]
Type=oneshot
ExecStart=/usr/sbin/logrotate /etc/logrotate.d/myvpn
Nice=19
IOSchedulingClass=best-effort
IOSchedulingPriority=7
