# Domains that must bypass VPN and use main routing table
avito.ru
*.avito.ru
gosuslugi.ru
*.gosuslugi.ru
seller.ozon.ru
*.seller.ozon.ru
oleada-tv.online
*.oleada-tv.online
tv.online
*.tv.online
mnogochernil.ru
*.mnogochernil.ru
www.oleada-tv.online
*.www.oleada-tv.online
www.dns-shop.ru
*.www.dns-shop.ru
dns-shop.ru
*.dns-shop.ru
www.avito.ru
*.www.avito.ru
hh.ru
*.hh.ru
api.avito.ru
*.api.avito.ru
m.avito.ru
*.m.avito.ru
mx-se.avito.ru
*.mx-se.avito.ru
